<div>
    <ul class="item-list store--item-list">
        <li *ngFor="let item of showItems">
            <div class="store--item-icon">
                <img src="/assets/icons/{{item.id}}.svg" alt="item" />
            </div>
            <h3>{{item.name}}</h3>
            <p>{{item.price}}</p>
            <p>{{item.type}}</p>
            <button (click)="addToCart(item)">Add to cart</button>
        </li>
    </ul>
    <nav>
        <button (click)="filterByFruit()">Filter by fruit</button>
        <button (click)="filterByVeg()">Filter by Vegetable</button>
        <button (click)="everything()">All items</button>
        <button (click)="sortByPrice()">Sort by price</button>
        <button (click)="sortByName()">Sort by name</button>
        <button routerLink="/checkout">Checkout</button>
    </nav>
</div>